<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-profile</title>
</head>
<body>
    <header>
        <p>Game Stonks</p>
        <div>
            <button>Settings</button>
            <button class="account">Account</button>
        </div>
    </header>
    <div class="profile">
        <app-nav-bard></app-nav-bard>
        <div class="center">
            <div class="top">
                <img src="../../assets/person-outline.svg" alt="">
            </div>
            <div class="imported_content">
                <h2></h2>
                <h4></h4>
                <h4></h4>

            </div>
        </div>
        <aside class="transaction-module">
        </aside>
    </div>
</body>
</html>