<div class="container">
    <div class="img-holder">
        <p>ID: 1</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 2</p>
        <img src="../../assets/sid.png">
        <p>ID: 3</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 4</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 5</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 6</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 7</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 8</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 9</p>
        <img src="../../assets/person-outline.svg">
        <p>ID: 10</p>
        <img src="../../assets/person-outline.svg">
    </div>
    <div class="form">

    </div>
</div>