<section>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="" alt="image">
                    </div>
                    <div>
                        <p>Ethereum 2</p>
                        <s>ETH2</s>
                    </div>
                </td>
                <td>
                    <div>
                        <p>BALANCE</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>PRICE</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <img src="" alt="image">
                    </div>
                    <div>
                        <p>Ethereum 2</p>
                        <s>ETH2</s>
                    </div>
                </td>
                <td>
                    <div>
                        <p>BALANCE</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>PRICE</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
