<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <p>Game Stonks</p>
        <div>
            <button>Settings</button>
            <button>Acount</button>
        </div>
    </header>
    <div class="content">
        <nav>
            <button>Catagory1</button>
            <button>Catagory2</button>
            <button>Catagory3</button>
            <button>Catagory4</button>
        </nav>
    </div>

</body>
</html>
